.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  margin: 0 auto;
}
#header{
  display: inline-block;
  background-color: #f5f5f5;
  width: 100%;
  height: 35px;
  margin: 0 auto;
}
#header-center{
  text-align: center;
  width: 1300px;
  height: 35px;
}
#header a{
  text-decoration: none;
  color: #6C6C6C;
}
#header a:hover{
  color: #F22E00;
}
#header ul{
  list-style-type:none;
}
#header div{
  margin: 0 auto;
  font-size: 12px;
  line-height: 35px;
}
#left-top{
  float: left;
  height: 35px;
}
#left-top ul{
  float: left;
  padding: 0px 6px;
}
#left-top ul li{
  float: left;
  margin-right: 7px;
}
#judge-sign-in a{
  color: #F22E00;
  margin-left: 146px;
}
#right-top{
  float: left;
  height: 35px;
}
#right-top ul{
  float: left;
  padding: 0px 6px;
  margin-left: 119px;
}
#right-top ul li{
  float: left;
  margin-right: 7px;
  width: 67px;
}
#index a{
  color: #F22E00;
}
#search{
  display: inline-block;
  width: 100%;
  height: 120px;
  margin: 0 auto;
}
#search a{
  text-decoration: none;
  color: #6C6C6C;
  padding: 10px;
  font-size: small;
}
#search a:hover{
  color: #F22E00;
}
#search ul{
  list-style-type:none;
}
#search-center{
  text-align: center;
  width: 1300px;
  margin-top: 20px;
}
#left-pic{
  float: left;
}
#right-main{
  width: 740px;
  height: 100px;
}
#search-box{
  float: left;
}
#search-input{
  float: left;
}
#search-input input{
  width: 600px;
  height: 15px;
  padding: 10px;
  border: 3px solid red;
  outline: none;
}
#search-button{
  float: left;
}
#search-button button{
  width: 90px;
  height: 41px;
  background-color: red;
  border-style: none;
  outline: none;
}
#search-button button a{
  color: white;
  font-size: large;
}
#search-button button a:hover{
  color: white;
}
#search-propose{
  float: left;
}
#search-propose ul{
  padding-left: 0;
}
#search-propose ul li{
  float: left;
}
#propose-first a{
  color: red;
}
#search-propose a:hover{
  text-decoration: underline;
}
#mytb-popover{
  float:left;
  width: 85px;
  height: 200px;
  background-color: red;
  position: relative;
}
#mytb-popover ul{
  margin: 0 auto;
  text-align: left;
  padding: 0 auto !important;
}
#mytb-popover ul li{
  width: 75px;
  height: 40px;
  margin: 0 auto;
}
#mytb-popover ul li:hover{
  background-color: #6C6C6C;
}
#mytb-popover ul li a{
  margin: 0 auto;
}